<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" href="/front/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/front/fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/front/css/slick.css">
    <link type="text/css" href="/front/css/css.css" rel="stylesheet" />
    <title>关于铭源-铭源木门</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?eb0964e92231a2c3a3c60c85a7cc86e3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div class="header">
    <div class="wp clearfix">
        <a href="/" class="logo"><img src="/front/image/common/logo.png"></a>
        <div class="menu">
            <ul class="clearfix">
                <li><div class="h3"><a href="/home"><i class="iconfont icon-shouye"></i><strong>首页</strong><span></span></a></div></li>
                <li>
                    <div class="h3"><a href="/about">关于铭源</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/product">铭源产品</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/service">品质服务</a><em></em></div>
                </li>

                <li><div class="h3"><a href="/searchShop">专卖店查询<span></span></a></div></li>
            </ul>
        </div>
        <a href="javascript:;" class="menu-link"><span></span></a>
    </div>
</div>
<div class="nav_box">
    <div class="wp clearfix">
        <div class="li dianhua_box clearfix">
            <div class="pd">
                <div class="h3">contact</div>
                <div class="em">全国咨询电话：</div>
                <div class="p">18967621539</div>
            </div>
        </div>
        <div class="li gouwu_box"></div>
        <div class="li sousuo_box clearfix">
            <div class="pd">
                <div class="p1 clearfix">
                    <form action="/search" method="post">
                        <input type="text" placeholder="大家都在搜 ..." data-placeholder="大家都在搜 ..." class="ipt_t4" name="title">
                        <input type="submit" value="搜索" class="ipt_b4">
                    </form>
                </div>
                <div class="p2 clearfix">
                    <a href="/product/modern">现代</a><span>|</span>
                    <a href="/product/lightLuxury">轻奢</a><span>|</span>
                    <a href="/product/newChinese">新中式</a><span>|</span>
                    <a href="/product/occident">欧美</a></div>
            </div>
        </div>
    </div>
</div>

<div class="banner_pg">
    <img class="img_cut" src="/front/image/1920_868.png" style="background-image:url(/front/image/about/4.jpg);">
    <div class="text">
        <div class="ntb">
            <div class="ntd">
                <div class="h3">meng yuan<br>About</div>
                <div class="p">关于铭源</div>
                <div class="m"><i class="iconfont icon-xia FmovefadeInDown"></i></div>
            </div>
        </div>
    </div>
<!--    <div class="about_nav">
        <div class="wp clearfix">
            <ul class="clearfix">
                <li class="curr">
                    <a href="/about" class="pd">
                        <i class="iconfont icon-hangyediwei"></i>
                        <strong>行业地位</strong>
                    </a>
                </li>
                <li>
                    <a href="/history" class="pd">
                        <i class="iconfont icon-fazhanlicheng"></i>
                        <strong>发展历程</strong>
                    </a>
                </li>
                <li>
                    <a href="/honor" class="pd">
                        <i class="iconfont icon-pinpairongyu"></i>
                        <strong>品牌荣誉</strong>
                    </a>
                </li>
                <li>
                    <a href="/partner" class="pd">
                        <i class="iconfont icon-hezuohuoban"></i>
                        <strong>合作伙伴</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->

</div>

<div class="about about1">
    <div class="wp clearfix">
        <div class="tit4">
            <div class="h3">行业地位</div>
        </div>
        <div class="about1_list">
            <ul class="clearfix">
                <li>
                    <div class="pd">
                        <div class="img"><img class="img_cut" src="/front/image/768_480.png" style="background-image:url(/front/image/about/5.jpg);"></div>
                        <div class="text">
                            <div class="h3">20年专注全屋定制</div>
                            <div class="p">
                                <p>铭源木业是一家集研发、生产、销售、服务于一体的实力型企业，产品涉及定制衣柜、书柜、衣帽间、酒柜、房门、推拉门、护墙、淋浴房、中空门等。所有产品均已达到E1级或更高的环保标准</p><br/>公司目前拥有仿形线条砂光机、异形琴键砂光机，自动化油漆喷涂生产线，雕刻机，裁皮机，热压 机，封边机等，逐步实现智能机器人流水线的柔性化生产.
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pd">
                        <div class="img"><img class="img_cut" src="/front/image/768_480.png" style="background-image:url(/front/image/about/3.png);"></div>
                        <div class="text">
                            <div class="h3">铭源木业<br>持续畅销各地市场</div>
                            <div class="p">
                                <p>本着“以质量求生存，靠信誉求发展”的宗旨，秉承“顾客至上，致力创新，诚信务实”的经营理 念，多年来得到各地客户的支持和信赖。</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                <div class="pd">
                    <div class="img"><img class="img_cut" src="/front/image/768_480.png" style="background-image:url(/front/image/about/2.jpg);"></div>
                    <div class="text">
                        <div class="h3">招商加盟</div>
                        <div class="p">
                            <p>热爱建材家居行业，或者从事过建材家居行业 <br />
                               坚韧踏实，眼光长远，有良好的合作意识和共赢理念<br />
                                <span style="color: red;">全国招商电话：</span>18967621539
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer_top">
        <div class="wp clearfix">
            <dl>
                <dt>
                    <a href="/about">关于铭源</a>
                </dt>
            </dl>
            <dl>
                <dt>
                    <a href="/product">铭源产品</a>
                </dt>
                <dd>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="/service">品质服务</a>
                </dt>
            </dl>
        </div>
    </div>
</div>

<div class="sub_nav">
    <ul>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-dianhua1"></i></div>
                <div class="box">18967621539</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-weixin"></i></div>
                <div class="box ewm_box"><img src="/front/image/common/wechatCode.jpg"><strong>铭源木业微信公众号</strong></div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd back_top" onclick="$('html, body').animate({
            scrollTop: 0
            }, 120);">
                <div class="h3"><i class="iconfont icon-dingbu"></i></div>
                <div class="box">返回顶部</div>
            </a>
        </li>
    </ul>
</div>
<script src="/front/js/jquery-1.8.3.min.js"></script>
<script src="/front/js/slick.js"></script>
<script src="/front/js/ditu2.js"></script>
<script src="/front/js/js.js"></script>

</body>
</html>