<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" href="/front/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/front/fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/front/css/slick.css">
    <link type="text/css" href="/front/css/css.css" rel="stylesheet" />
    <title>铭源产品</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?eb0964e92231a2c3a3c60c85a7cc86e3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="header">
    <div class="wp clearfix">
        <a href="/" class="logo"><img src="/front/image/common/logo.png"></a>
        <div class="menu">
            <ul class="clearfix">
                <li><div class="h3"><a href="/home"><i class="iconfont icon-shouye"></i><strong>首页</strong><span></span></a></div></li>
                <li>
                    <div class="h3"><a href="/about">关于铭源</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/product">铭源产品</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/service">品质服务</a><em></em></div>
                </li>

                <li><div class="h3"><a href="/searchShop">专卖店查询<span></span></a></div></li>
            </ul>
        </div>
        <a href="javascript:;" class="menu-link"><span></span></a>
    </div>
</div>
<div class="nav_box">
    <div class="wp clearfix">
        <div class="li dianhua_box clearfix">
            <div class="pd">
                <div class="h3">contact</div>
                <div class="em">全国咨询电话：</div>
                <div class="p">18967621539</div>
            </div>
        </div>
        <div class="li gouwu_box"></div>
        <div class="li sousuo_box clearfix">
            <div class="pd">
                <div class="p1 clearfix">
                    <form action="/search" method="post">
                        <input type="text" placeholder="大家都在搜 ..." data-placeholder="大家都在搜 ..." class="ipt_t4" name="title">
                        <input type="submit" value="搜索" class="ipt_b4">
                    </form>
                </div>
                <div class="p2 clearfix">
                    <a href="/product/modern">现代</a><span>|</span>
                    <a href="/product/lightLuxury">轻奢</a><span>|</span>
                    <a href="/product/newChinese">新中式</a><span>|</span>
                    <a href="/product/occident">欧美</a></div>
            </div>
        </div>
    </div>
</div>

<div class="banner_pg">
    <img class="img_cut" src="/front/image/1920_868.png" style="background-image:url(/front/image/product/all/0.jpg);">
    <div class="text">
        <div class="ntb">
            <div class="ntd">
                <div class="h3">mingyuan<br>Product</div>
                <div class="p">铭源产品</div>
                <div class="m"><i class="iconfont icon-xia FmovefadeInDown"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="wp">
    <div class="product-tab">
        <ul class="product-tab-title">
            <li class="product-this">现代</li>
            <li>轻奢</li>
            <li>新中式</li>
            <li>欧美</li>
        </ul>
        <div class="product-tab-content">
            <div class="product-tab-item  show-this">
                <div class="wp clearfix">
                    <ul class="clearfix pro_list">
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/1.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/2.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/3.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/4.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/5.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/modern/6.jpg);">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-tab-item ">
                <div class="wp clearfix">
                    <ul class="clearfix pro_list">
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/1.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/2.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/3.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/4.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/5.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/Light_luxury/6.jpg);">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-tab-item ">
                <div class="wp clearfix">
                    <ul class="clearfix pro_list">
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/1.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/2.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/3.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/4.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/5.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/New_Chinese/6.jpg);">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-tab-item ">
                <div class="wp clearfix">
                    <ul class="clearfix pro_list">
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/1.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/2.jpg);">
                                </div>

                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/3.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/4.jpg);">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/5.jpg);">
                                </div>

                            </a>
                        </li>
                        <li>
                            <a href="javascript:0;" class="pd">
                                <div class="img">
                                    <img class="img_cut" src="/front/image/768_480.png" style=" background-image:url(/front/image/product/occident/6.jpg);">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="footer">
    <div class="footer_top">
        <div class="wp clearfix">
            <dl>
                <dt>
                    <a href="/about">关于铭源</a>
                </dt>
            </dl>
            <dl>
                <dt>
                    <a href="/product">铭源产品</a>
                </dt>
                <dd>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="/service">品质服务</a>
                </dt>
            </dl>
        </div>
    </div>
</div>

<div class="sub_nav">
    <ul>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-dianhua1"></i></div>
                <div class="box">18967621539</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-weixin"></i></div>
                <div class="box ewm_box"><img src="/front/image/common/wechatCode.jpg"><strong>铭源木业微信公众号</strong></div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd back_top" onclick="$('html, body').animate({
            scrollTop: 0
            }, 120);">
                <div class="h3"><i class="iconfont icon-dingbu"></i></div>
                <div class="box">返回顶部</div>
            </a>
        </li>
    </ul>
</div>
<script src="/front/js/jquery-1.8.3.min.js"></script>
<script src="/front/js/slick.js"></script>
<script src="/front/js/ditu2.js"></script>
<script src="/front/js/js.js"></script>
<script>
    $(function(){
        $('.product-tab-title li').click(function(){
            var $titles = $('.product-tab-title li');
            var $contents = $(".product-tab-item");
            var that = $(this);
            var index = $titles.index(that);
            $(".product-this").removeClass("product-this");
            $(".show-this").removeClass("show-this");
            $(this).addClass("product-this");
            $contents.eq(index).addClass("show-this");
        });

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return decodeURI(r[2]); return null; //返回参数值
        }

        $(document).ready(function(){
            var type = getUrlParam("type");
            $('.product-tab-title li').eq(type).trigger("click");
        });
    })
</script>
</body>
</html>