<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" href="/front/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/front/fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/front/css/slick.css">
    <link type="text/css" href="/front/css/css.css" rel="stylesheet" />
    <title>关于铭源-铭源木门</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?eb0964e92231a2c3a3c60c85a7cc86e3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="header">
    <div class="wp clearfix">
        <a href="/" class="logo"><img src="/front/image/common/logo.png"></a>
        <div class="menu">
            <ul class="clearfix">
                <li><div class="h3"><a href="/home"><i class="iconfont icon-shouye"></i><strong>首页</strong><span></span></a></div></li>
                <li>
                    <div class="h3"><a href="/about">关于铭源</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/product">铭源产品</a><em></em></div>
                </li>
                <li><div class="h3"><a href="/service">品质服务</a><em></em></div>
                </li>

                <li><div class="h3"><a href="/searchShop">专卖店查询<span></span></a></div></li>
            </ul>
        </div>
        <a href="javascript:;" class="menu-link"><span></span></a>
    </div>
</div>
<div class="nav_box">
    <div class="wp clearfix">
        <div class="li dianhua_box clearfix">
            <div class="pd">
                <div class="h3">contact</div>
                <div class="em">全国咨询电话：</div>
                <div class="p">18967621539</div>
            </div>
        </div>
        <div class="li gouwu_box"></div>
        <div class="li sousuo_box clearfix">
            <div class="pd">
                <div class="p1 clearfix">
                    <form action="/search" method="post">
                        <input type="text" placeholder="大家都在搜 ..." data-placeholder="大家都在搜 ..." class="ipt_t4" name="title">
                        <input type="submit" value="搜索" class="ipt_b4">
                    </form>
                </div>
                <div class="p2 clearfix">
                    <a href="/product/modern">现代</a><span>|</span>
                    <a href="/product/lightLuxury">轻奢</a><span>|</span>
                    <a href="/product/newChinese">新中式</a><span>|</span>
                    <a href="/product/occident">欧美</a></div>
            </div>
        </div>
    </div>
</div>

<div class="nshop">
    <div class="wp clearfix">
        <!--<div class="tit7"><img src="/front/image/nshop_tit.png"></div>-->
        <div class="nshop_list clearfix">
            <ul class="clearfix" id="shopli">
                <li>
                    <a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D浙江省台州市椒江区洪家街道统一村" class="pd">
                        <div class="h3">浙江台州洪家店</div>
                        <div class="p">浙江省台州市椒江区洪家街道统一村93幢</div>
                        <div class="m"><i class="iconfont icon-dizhi3"></i><strong>查看<br>地图</strong></div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D浙江省宁波市宁海县兴宁中路红星美凯龙艺佳" class="pd">
                        <div class="h3">浙江宁波红星美凯龙店</div>
                        <div class="p">浙江省宁波市宁海县兴宁中路红星美凯龙 1F A8088 。（蒙想全屋定制）</div>
                        <div class="m"><i class="iconfont icon-dizhi3"></i><strong>查看<br>地图</strong></div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D河南省南阳市宛城区溧河乡翟庄高速口" class="pd">
                        <div class="h3">河南南阳翟庄店</div>
                        <div class="p">河南省南阳市宛城区溧河乡翟庄高速口对面</div>
                        <div class="m"><i class="iconfont icon-dizhi3"></i><strong>查看<br>地图</strong></div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D河南省南阳市卧龙区红星美凯龙(南阳建设商场)" class="pd">
                        <div class="h3">河南南阳卧龙红星美凯龙店</div>
                        <div class="p">河南省南阳市卧龙区车站北路与建设路交叉口  红星美凯龙B座3楼</div>
                        <div class="m"><i class="iconfont icon-dizhi3"></i><strong>查看<br>地图</strong></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer_top">
        <div class="wp clearfix">
            <dl>
                <dt>
                    <a href="/about">关于铭源</a>
                </dt>
            </dl>
            <dl>
                <dt>
                    <a href="/product">铭源产品</a>
                </dt>
                <dd>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="/service">品质服务</a>
                </dt>
            </dl>
        </div>
    </div>
</div>

<div class="sub_nav">
    <ul>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-dianhua1"></i></div>
                <div class="box">18967621539</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd">
                <div class="h3"><i class="iconfont icon-weixin"></i></div>
                <div class="box ewm_box"><img src="/front/image/common/wechatCode.jpg"><strong>铭源木业微信公众号</strong></div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="pd back_top" onclick="$('html, body').animate({
            scrollTop: 0
            }, 120);">
                <div class="h3"><i class="iconfont icon-dingbu"></i></div>
                <div class="box">返回顶部</div>
            </a>
        </li>
    </ul>
</div>
<script src="/front/js/jquery-1.8.3.min.js"></script>
<script src="/front/js/slick.js"></script>
<script src="/front/js/ditu2.js"></script>
<script src="/front/js/js.js"></script>
</body>
</html>